<ion-view>
      <ion-content ng-controller="menu ">
        <div class="list list-inset ">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <label class="item-input-wrapper">
           <input id="searchKey" type="search" placeholder="Search" ng-model="menu" >
            
          </label>
            <!--  -->
          </label>
        </div>
        <div ng-repeat="menu in Menus | filter:menu"> 
            <div>
              
            <div class="list text-center " >
              <a class="item item-trns" href="#/menu/={{menu.id}}">
                <h2>{{menu.menu}}</h2>
              </a>
            </div>
          </div>
        </div>

      </ion-content>
  </ion-view>
