<ion-view>
  	<ion-content ng-controller="subMenu ">
      	<div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <label class="item-input-wrapper">
              <input id="searchKey" type="search" placeholder="Search" ng-model="item" >
            </label>
          </label>
        </div>

      	<ion-list class="">
        	<div ng-repeat="menu in Finalitem  | filter:item">
          		<ion-item class="item  text-center">
                    {{menu.item}}
          		</ion-item>
			<div class="row responsive-md" > 
	            <div class="col  item-white">
	               	<img class="text-center" style="text-align: center;" width="100%" src="	img/soup2.jpg"  >
	               	<h1>Ingredients</h1>
	               	<div class="list">
						<div class="item item-input-inset">
							<h2>1.Mushroom</h2>&nbsp;&nbsp;&nbsp;
							<label class="toggle">
								<input type="checkbox">
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
							<label class="item-input-wrapper">
								<input type="text" placeholder="Extra">
							</label>&nbsp;&nbsp;
						</div>
						<div class="item item-input-inset">
							<h2>2.Soya Chunks</h2>&nbsp;&nbsp;&nbsp;
							<label class="toggle">
								<input type="checkbox">
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
							<label class="item-input-wrapper">
								<input type="text" placeholder="Extra">
							</label>&nbsp;&nbsp;
						</div>
					    <div class="item item-input-inset">
					    	<h2>3.Basmati rice</h2>&nbsp;&nbsp;&nbsp;
						 	<label class="toggle">
							   <input type="checkbox">
							   	<div class="track">
							     	<div class="handle"></div>
							   	</div>
							</label>&nbsp;&nbsp;
					 		<label class="item-input-wrapper">
					      		<input type="text" placeholder="Extra">
					    	</label>
					    </div>

					    <div class="item item-input-inset">
						    <h2>4.Onion</h2>&nbsp;&nbsp;&nbsp;
						    <label class="toggle">
							   <input type="checkbox">
							   	<div class="track">
							     	<div class="handle"></div>
							   	</div>&nbsp;&nbsp;
							</label>
						    <label class="item-input-wrapper">
						      	<input type="text" placeholder="Extra">
						    </label>
					  	</div>
					    <div class="item item-input-inset">
						    <h2>5.Tomato</h2>&nbsp;&nbsp;&nbsp;
						    <label class="toggle">
							   <input type="checkbox">
							   	<div class="track">
							     	<div class="handle"></div>
							   	</div>&nbsp;&nbsp;
							</label>
						    <label class="item-input-wrapper">
						      	<input type="text" placeholder="Extra">
						    </label>
					  	</div>
				  	</div>
	           		<h4>Quantity</h4>
				        <div class="button-bar">
				            <button class="button"  id="minus1"><img src="img/minus.png" style="width:30%" ></button>
				            <input type="button" value="1" name="quantity" class="button item1" id="quantity">
				          	<button class="button" id="plus1"> <img src="img/plus.png" style="width:30%"> </button>
				        </div>

			        <h4>Price</h4>
				        <div class="button-bar">
				            <button class="button" id="price1" style=" background:  #34495e; color: white; ">50<span>AED</span></button>
				           	<a id="b1" class="button" style="background: #d35400;color: white; width:35px; ">Add to Cart</a>
				        </div>
            	</div>
    		</div>

      	</div>
          	

		
          	<div ng-repeat="ingred in menu.ingredients">
          		<ion-item class="item  item-trns text-center ">
                    {{ingred}}
          		</ion-item>
          	</div>

          
      	</ion-list>

      	
  	</ion-content>
</ion-view>

<script>
 $(document).ready(function () {
	$("#plus1").click(function()
    {
		var total= $(".item1").val();
		
		if (total>=1)
		{
		    total++;
		    var price=50*total;
		    $(".item1").val(total);
		   $("#price1").html(price+" AED");
		}

    });
    $("#minus1").click(function()
    {
		var total= $(".item1").val();
		total--;
		if (total>=1)
		{
		    var price=50*total;
		    $(".item1").val(total);
		     $("#price1").html(price+" AED");
		    
		}
		else{
		     var price=50*1;
		    $(".item1").val("1");
		    $("#price1").html(price+" AED");
		     
		}
    });

});
	
</script>
